.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  background-color: #121212;

  @font-face {
    font-family: "Lato", sans-serif;
    src: url(
      https://fonts.googleapis.com/css?family=Lato:300,
      400,
      700,
      900&display=swap
    );
  }
}
